<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Larsonjuhl_DynamicForm::customer_new_account"
             title="Customer New Account"
             module="Larsonjuhl_DynamicForm"
             sortOrder="9999"
             resource="Magento_Backend::content" />
             
             <add id="Larsonjuhl_DynamicForm::dynamic_customer_account_form"
             title="Dynamic Customer Account form"
             module="Larsonjuhl_DynamicForm"
             sortOrder="0"
             action="form/index/index"
             parent="Larsonjuhl_DynamicForm::first_level_demo"
             resource="Magento_Backend::content" />
    </menu>
</config>

